# Disable directory browsing
Options -Indexes

RewriteEngine On

# 1. Nếu tìm thấy file thực tế (css, js, png...) thì trả về luôn
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# 2. Nếu tìm thấy thư mục thực tế thì vào luôn
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# 3. Mọi thứ còn lại đẩy vào public/index.php
RewriteRule ^$ public/index.php [L]
RewriteRule ^(.*)$ public/index.php [L,QSA]
