# Disable directory browsing
Options -Indexes

RewriteEngine On

# 1. Nếu là file hoặc thư mục thực tế đang tồn tại ở GỐC (như assets, uploads) thì trả về luôn
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# 2. Tránh vòng lặp cho thư mục public
RewriteCond %{REQUEST_URI} !^/public/

# 3. Đẩy mọi yêu cầu còn lại vào thư mục public
RewriteRule ^(.*)$ public/$1 [L,QSA]
