-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: khaservice_it
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_tokens`
--

DROP TABLE IF EXISTS `auth_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_tokens` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `token` varchar(255) NOT NULL,
  `expires_at` datetime NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `token` (`token`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `auth_tokens_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_tokens`
--

LOCK TABLES `auth_tokens` WRITE;
/*!40000 ALTER TABLE `auth_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `device_files`
--

DROP TABLE IF EXISTS `device_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `device_files` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `device_id` int(11) NOT NULL COMMENT 'Thi???t b??? li??n quan',
  `loai_file` varchar(50) NOT NULL COMMENT 'Lo???i file: HoaDon / BienBan / HinhAnh',
  `file_path` varchar(255) NOT NULL COMMENT '???????ng d???n file l??u tr??n server',
  `uploaded_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Th???i gian upload',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='File ????nh k??m thi???t b???';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `device_files`
--

LOCK TABLES `device_files` WRITE;
/*!40000 ALTER TABLE `device_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `device_files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `devices`
--

DROP TABLE IF EXISTS `devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `devices` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ma_tai_san` varchar(100) NOT NULL COMMENT 'M?? t??i s???n n???i b??? (VD: KHAS-DA01-PC-001)',
  `ten_thiet_bi` varchar(255) NOT NULL COMMENT 'T??n thi???t b??? (PC l??? t??n, UPS barrier...)',
  `nhom_thiet_bi` varchar(50) NOT NULL COMMENT 'Nh??m thi???t b???: V??n ph??ng / B??i xe',
  `loai_thiet_bi` varchar(100) NOT NULL COMMENT 'Lo???i thi???t b???: PC, UPS, Camera, Barrier, ?????u ?????c th???...',
  `model` varchar(255) DEFAULT NULL COMMENT 'Model thi???t b???',
  `serial` varchar(255) DEFAULT NULL COMMENT 'Serial number c???a thi???t b???',
  `project_id` int(11) DEFAULT NULL COMMENT 'Thi???t b??? thu???c d??? ??n n??o',
  `parent_id` int(11) DEFAULT NULL,
  `supplier_id` int(11) DEFAULT NULL COMMENT 'Nh?? cung c???p thi???t b???',
  `ngay_mua` date DEFAULT NULL COMMENT 'Ng??y mua thi???t b???',
  `gia_mua` decimal(15,2) DEFAULT NULL COMMENT 'Gi?? mua t???i th???i ??i???m mua (VN??)',
  `bao_hanh_den` date DEFAULT NULL COMMENT 'Ng??y h???t h???n b???o h??nh',
  `trang_thai` varchar(50) DEFAULT '??ang s??? d???ng' COMMENT 'Tr???ng th??i: ??ang s??? d???ng / H???ng / Thanh l??',
  `ghi_chu` text DEFAULT NULL COMMENT 'Ghi ch?? kh??c',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Ng??y t???o h??? s?? thi???t b???',
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ma_tai_san` (`ma_tai_san`),
  KEY `idx_device_parent` (`parent_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Danh s??ch thi???t b??? & linh ki???n';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `devices`
--

LOCK TABLES `devices` WRITE;
/*!40000 ALTER TABLE `devices` DISABLE KEYS */;
INSERT INTO `devices` VALUES (7,'QQQQQQQQQQ','AQQQQQQQQQQQQQQQQQQ','Hß╗ç thß╗æng xe','CPU','QQQQQQQQQQQQQQQQQQQ','QQQQQQQQQQQQQQQ',1,NULL,3,NULL,NULL,NULL,'Tß╗æt','','2025-12-22 12:08:23','2025-12-22 12:26:44');
/*!40000 ALTER TABLE `devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_files`
--

DROP TABLE IF EXISTS `maintenance_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `maintenance_files` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `maintenance_id` int(11) NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `loai_file` varchar(50) DEFAULT 'Kh├íc',
  `uploaded_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `maintenance_id` (`maintenance_id`),
  CONSTRAINT `maintenance_files_ibfk_1` FOREIGN KEY (`maintenance_id`) REFERENCES `maintenance_logs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_files`
--

LOCK TABLES `maintenance_files` WRITE;
/*!40000 ALTER TABLE `maintenance_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_logs`
--

DROP TABLE IF EXISTS `maintenance_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `maintenance_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `project_id` int(11) DEFAULT NULL,
  `device_id` int(11) DEFAULT NULL COMMENT 'ID thiet bi (NULL neu nhap tay)',
  `custom_device_name` varchar(255) DEFAULT NULL,
  `usage_time_manual` varchar(100) DEFAULT NULL,
  `ngay_su_co` date NOT NULL COMMENT 'Ng??y x???y ra s??? c???',
  `noi_dung` text DEFAULT NULL COMMENT 'M?? t??? s??? c??? do d??? ??n b??o',
  `hu_hong` text DEFAULT NULL COMMENT 'X??c ?????nh h?? h???ng sau ki???m tra',
  `xu_ly` text DEFAULT NULL COMMENT 'H?????ng x??? l?? / s???a ch???a',
  `chi_phi` decimal(15,2) DEFAULT NULL COMMENT 'Chi ph?? s???a ch???a (n???u c??)',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Ng??y ghi nh???n bi??n b???n',
  `client_name` varchar(255) DEFAULT NULL COMMENT '?????i di???n kh??ch h??ng',
  `client_phone` varchar(50) DEFAULT NULL COMMENT 'S??T kh??ch h??ng',
  `arrival_time` datetime DEFAULT NULL COMMENT 'Th???i ??i???m c?? m???t',
  `completion_time` datetime DEFAULT NULL COMMENT 'Th???i ??i???m ho??n th??nh',
  `work_type` varchar(255) DEFAULT 'B???o tr?? / S???a ch???a' COMMENT 'Lo???i c??ng vi???c',
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_log_project` (`project_id`),
  KEY `fk_log_user` (`user_id`),
  CONSTRAINT `fk_log_project` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_log_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='L???ch s??? s???a ch???a thi???t b???';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_logs`
--

LOCK TABLES `maintenance_logs` WRITE;
/*!40000 ALTER TABLE `maintenance_logs` DISABLE KEYS */;
INSERT INTO `maintenance_logs` VALUES (16,1,19,NULL,NULL,NULL,'2025-12-22',NULL,'','To├án bß╗Ö ph╞░╞íng tiß╗çn ─æ╞░ß╗úc kiß╗âm tra ─æß╗üu c├│ dß╗» liß╗çu tr├¬n hß╗ç thß╗æng xe',0.00,'2025-12-22 11:39:37','Tr╞░ß╗ƒng BQL','0912549449','2025-12-22 05:15:00','2025-12-22 14:00:00','Kiß╗âm tra thß╗▒c tß║┐ b├úi giß╗» xe','2025-12-22 12:25:52');
/*!40000 ALTER TABLE `maintenance_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projects`
--

DROP TABLE IF EXISTS `projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `projects` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ma_du_an` varchar(50) NOT NULL COMMENT 'M?? d??? ??n n???i b??? (VD: DA01, DA02)',
  `ten_du_an` varchar(255) NOT NULL COMMENT 'T??n d??? ??n / chung c??',
  `dia_chi_duong` varchar(255) DEFAULT NULL,
  `dia_chi_phuong_xa` varchar(100) DEFAULT NULL,
  `dia_chi_tinh_tp` varchar(100) DEFAULT NULL,
  `dia_chi` text DEFAULT NULL COMMENT '?????a ch??? d??? ??n',
  `loai_du_an` varchar(100) DEFAULT NULL COMMENT 'Lo???i d??? ??n (Chung c??, V??n ph??ng...)',
  `ghi_chu` text DEFAULT NULL COMMENT 'Ghi ch?? th??m',
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Danh s??ch d??? ??n KHASERVICE';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projects`
--

LOCK TABLES `projects` WRITE;
/*!40000 ALTER TABLE `projects` DISABLE KEYS */;
/*!40000 ALTER TABLE `projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `services`
--

DROP TABLE IF EXISTS `services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `services` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_dich_vu` varchar(255) NOT NULL,
  `loai_dich_vu` varchar(100) DEFAULT NULL,
  `supplier_id` int(11) DEFAULT NULL,
  `project_id` int(11) DEFAULT NULL,
  `ngay_dang_ky` date DEFAULT NULL,
  `ngay_het_han` date NOT NULL,
  `chi_phi_gia_han` decimal(15,2) DEFAULT 0.00,
  `nhac_truoc_ngay` int(11) DEFAULT 30,
  `ghi_chu` text DEFAULT NULL,
  `ngay_nhan_de_nghi` date DEFAULT NULL,
  `trang_thai` varchar(50) DEFAULT '├░ang ho?t d?ng',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_services_supplier` (`supplier_id`),
  KEY `fk_services_project` (`project_id`),
  CONSTRAINT `fk_services_project` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_services_supplier` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `services`
--

LOCK TABLES `services` WRITE;
/*!40000 ALTER TABLE `services` DISABLE KEYS */;
INSERT INTO `services` VALUES (2,'Mail Mß║»t B├úo','Mail',4,NULL,NULL,'2026-10-31',7000000.00,30,'',NULL,'├░ang ho?t d?ng','2025-12-22 11:30:48',NULL);
/*!40000 ALTER TABLE `services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings_device_groups`
--

DROP TABLE IF EXISTS `settings_device_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings_device_groups` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `group_name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `group_name` (`group_name`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings_device_groups`
--

LOCK TABLES `settings_device_groups` WRITE;
/*!40000 ALTER TABLE `settings_device_groups` DISABLE KEYS */;
INSERT INTO `settings_device_groups` VALUES (50,'Hß╗ç thß╗æng xe'),(52,'Kh├íc'),(51,'T├▓a nh├á'),(49,'V─ân ph├▓ng');
/*!40000 ALTER TABLE `settings_device_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings_device_statuses`
--

DROP TABLE IF EXISTS `settings_device_statuses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings_device_statuses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `status_name` varchar(100) NOT NULL,
  `color_class` varchar(50) DEFAULT 'status-default',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `status_name` (`status_name`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings_device_statuses`
--

LOCK TABLES `settings_device_statuses` WRITE;
/*!40000 ALTER TABLE `settings_device_statuses` DISABLE KEYS */;
INSERT INTO `settings_device_statuses` VALUES (5,'Tß╗æt','status-active','2025-12-22 06:38:16'),(6,'Cß║únh b├ío','status-warning','2025-12-22 06:38:16'),(7,'Hß╗Ång','status-error','2025-12-22 06:38:16'),(8,'Thanh l├╜','status-default','2025-12-22 06:38:16');
/*!40000 ALTER TABLE `settings_device_statuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings_device_types`
--

DROP TABLE IF EXISTS `settings_device_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings_device_types` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type_name` varchar(100) NOT NULL,
  `group_name` varchar(100) DEFAULT 'V─ân ph├▓ng',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `type_name` (`type_name`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings_device_types`
--

LOCK TABLES `settings_device_types` WRITE;
/*!40000 ALTER TABLE `settings_device_types` DISABLE KEYS */;
INSERT INTO `settings_device_types` VALUES (31,'CPU','Hß╗ç thß╗æng xe','2025-12-22 12:07:51');
/*!40000 ALTER TABLE `settings_device_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppliers`
--

DROP TABLE IF EXISTS `suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suppliers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_npp` varchar(255) NOT NULL COMMENT 'T??n nh?? ph??n ph???i / nh?? th???u',
  `nguoi_lien_he` varchar(255) DEFAULT NULL COMMENT 'T??n ng?????i li??n h???',
  `dien_thoai` varchar(50) DEFAULT NULL COMMENT 'S??? ??i???n tho???i',
  `email` varchar(255) DEFAULT NULL COMMENT 'Email li??n h???',
  `ghi_chu` text DEFAULT NULL COMMENT 'Ghi ch??',
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Nh?? cung c???p thi???t b???';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppliers`
--

LOCK TABLES `suppliers` WRITE;
/*!40000 ALTER TABLE `suppliers` DISABLE KEYS */;
INSERT INTO `suppliers` VALUES (3,'Tr├¡ Thi├¬n Th├ánh','S╞ín','0984719147','','',NULL),(4,'Mß║»t b├úo','','','','',NULL);
/*!40000 ALTER TABLE `suppliers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL COMMENT 'T??n ????ng nh???p',
  `fullname` varchar(100) DEFAULT NULL,
  `password` varchar(255) NOT NULL COMMENT 'M???t kh???u (hash)',
  `role` varchar(50) DEFAULT NULL COMMENT 'Vai tr??: admin / it / xem',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Ng?????i d??ng h??? th???ng';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-22 19:28:16
