-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: khaservice_it
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_tokens`
--

DROP TABLE IF EXISTS `auth_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_tokens` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `token` varchar(255) NOT NULL,
  `expires_at` datetime NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `token` (`token`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `auth_tokens_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_tokens`
--

LOCK TABLES `auth_tokens` WRITE;
/*!40000 ALTER TABLE `auth_tokens` DISABLE KEYS */;
INSERT INTO `auth_tokens` VALUES (9,1,'797d85a3bc7940e3d4c416af83e004468f1e632f9084f4d8f59627e267022809b89bfc22db7cc1a037a3b570d44ede410ab7da6247fba94bc5be18cf05962855','2026-01-19 07:35:33','2025-12-20 13:35:33');
/*!40000 ALTER TABLE `auth_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `device_files`
--

DROP TABLE IF EXISTS `device_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `device_files` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `device_id` int(11) NOT NULL COMMENT 'Thiß║┐t bß╗ï li├¬n quan',
  `loai_file` varchar(50) NOT NULL COMMENT 'Loß║íi file: HoaDon / BienBan / HinhAnh',
  `file_path` varchar(255) NOT NULL COMMENT '─É╞░ß╗¥ng dß║½n file l╞░u tr├¬n server',
  `uploaded_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Thß╗¥i gian upload',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='File ─æ├¡nh k├¿m thiß║┐t bß╗ï';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `device_files`
--

LOCK TABLES `device_files` WRITE;
/*!40000 ALTER TABLE `device_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `device_files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `devices`
--

DROP TABLE IF EXISTS `devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `devices` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ma_tai_san` varchar(100) NOT NULL COMMENT 'M├ú t├ái sß║ún nß╗Öi bß╗Ö (VD: KHAS-DA01-PC-001)',
  `ten_thiet_bi` varchar(255) NOT NULL COMMENT 'T├¬n thiß║┐t bß╗ï (PC lß╗à t├ón, UPS barrier...)',
  `nhom_thiet_bi` varchar(50) NOT NULL COMMENT 'Nh├│m thiß║┐t bß╗ï: V─ân ph├▓ng / B├úi xe',
  `loai_thiet_bi` varchar(100) NOT NULL COMMENT 'Loß║íi thiß║┐t bß╗ï: PC, UPS, Camera, Barrier, ─Éß║ºu ─æß╗ìc thß║╗...',
  `model` varchar(255) DEFAULT NULL COMMENT 'Model thiß║┐t bß╗ï',
  `serial` varchar(255) DEFAULT NULL COMMENT 'Serial number cß╗ºa thiß║┐t bß╗ï',
  `project_id` int(11) DEFAULT NULL COMMENT 'Thiß║┐t bß╗ï thuß╗Öc dß╗▒ ├ín n├áo',
  `supplier_id` int(11) DEFAULT NULL COMMENT 'Nh├á cung cß║Ñp thiß║┐t bß╗ï',
  `ngay_mua` date DEFAULT NULL COMMENT 'Ng├áy mua thiß║┐t bß╗ï',
  `gia_mua` decimal(15,2) DEFAULT NULL COMMENT 'Gi├í mua tß║íi thß╗¥i ─æiß╗âm mua (VN─É)',
  `bao_hanh_den` date DEFAULT NULL COMMENT 'Ng├áy hß║┐t hß║ín bß║úo h├ánh',
  `trang_thai` varchar(50) DEFAULT '─Éang sß╗¡ dß╗Ñng' COMMENT 'Trß║íng th├íi: ─Éang sß╗¡ dß╗Ñng / Hß╗Ång / Thanh l├╜',
  `ghi_chu` text DEFAULT NULL COMMENT 'Ghi ch├║ kh├íc',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Ng├áy tß║ío hß╗ô s╞í thiß║┐t bß╗ï',
  PRIMARY KEY (`id`),
  UNIQUE KEY `ma_tai_san` (`ma_tai_san`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Danh s├ích thiß║┐t bß╗ï & linh kiß╗çn';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `devices`
--

LOCK TABLES `devices` WRITE;
/*!40000 ALTER TABLE `devices` DISABLE KEYS */;
/*!40000 ALTER TABLE `devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_logs`
--

DROP TABLE IF EXISTS `maintenance_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `maintenance_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `device_id` int(11) NOT NULL COMMENT 'Thiß║┐t bß╗ï bß╗ï sß╗▒ cß╗æ',
  `ngay_su_co` date NOT NULL COMMENT 'Ng├áy xß║úy ra sß╗▒ cß╗æ',
  `noi_dung` text DEFAULT NULL COMMENT 'M├┤ tß║ú sß╗▒ cß╗æ do dß╗▒ ├ín b├ío',
  `hu_hong` text DEFAULT NULL COMMENT 'X├íc ─æß╗ïnh h╞░ hß╗Ång sau kiß╗âm tra',
  `xu_ly` text DEFAULT NULL COMMENT 'H╞░ß╗¢ng xß╗¡ l├╜ / sß╗¡a chß╗»a',
  `chi_phi` decimal(15,2) DEFAULT NULL COMMENT 'Chi ph├¡ sß╗¡a chß╗»a (nß║┐u c├│)',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Ng├áy ghi nhß║¡n bi├¬n bß║ún',
  `client_name` varchar(255) DEFAULT NULL COMMENT '─Éß║íi diß╗çn kh├ích h├áng',
  `client_phone` varchar(50) DEFAULT NULL COMMENT 'S─ÉT kh├ích h├áng',
  `arrival_time` datetime DEFAULT NULL COMMENT 'Thß╗¥i ─æiß╗âm c├│ mß║╖t',
  `completion_time` datetime DEFAULT NULL COMMENT 'Thß╗¥i ─æiß╗âm ho├án th├ánh',
  `work_type` varchar(255) DEFAULT 'Bß║úo tr├¼ / Sß╗¡a chß╗»a' COMMENT 'Loß║íi c├┤ng viß╗çc',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Lß╗ïch sß╗¡ sß╗¡a chß╗»a thiß║┐t bß╗ï';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_logs`
--

LOCK TABLES `maintenance_logs` WRITE;
/*!40000 ALTER TABLE `maintenance_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projects`
--

DROP TABLE IF EXISTS `projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `projects` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ma_du_an` varchar(50) NOT NULL COMMENT 'M├ú dß╗▒ ├ín nß╗Öi bß╗Ö (VD: DA01, DA02)',
  `ten_du_an` varchar(255) NOT NULL COMMENT 'T├¬n dß╗▒ ├ín / chung c╞░',
  `dia_chi` text DEFAULT NULL COMMENT '─Éß╗ïa chß╗ë dß╗▒ ├ín',
  `loai_du_an` varchar(100) DEFAULT NULL COMMENT 'Loß║íi dß╗▒ ├ín (Chung c╞░, V─ân ph├▓ng...)',
  `ghi_chu` text DEFAULT NULL COMMENT 'Ghi ch├║ th├¬m',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Danh s├ích dß╗▒ ├ín KHASERVICE';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projects`
--

LOCK TABLES `projects` WRITE;
/*!40000 ALTER TABLE `projects` DISABLE KEYS */;
/*!40000 ALTER TABLE `projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppliers`
--

DROP TABLE IF EXISTS `suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suppliers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_npp` varchar(255) NOT NULL COMMENT 'T├¬n nh├á ph├ón phß╗æi / nh├á thß║ºu',
  `nguoi_lien_he` varchar(255) DEFAULT NULL COMMENT 'T├¬n ng╞░ß╗¥i li├¬n hß╗ç',
  `dien_thoai` varchar(50) DEFAULT NULL COMMENT 'Sß╗æ ─æiß╗çn thoß║íi',
  `email` varchar(255) DEFAULT NULL COMMENT 'Email li├¬n hß╗ç',
  `ghi_chu` text DEFAULT NULL COMMENT 'Ghi ch├║',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Nh├á cung cß║Ñp thiß║┐t bß╗ï';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppliers`
--

LOCK TABLES `suppliers` WRITE;
/*!40000 ALTER TABLE `suppliers` DISABLE KEYS */;
/*!40000 ALTER TABLE `suppliers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL COMMENT 'T├¬n ─æ─âng nhß║¡p',
  `password` varchar(255) NOT NULL COMMENT 'Mß║¡t khß║⌐u (hash)',
  `role` varchar(50) DEFAULT NULL COMMENT 'Vai tr├▓: admin / it / xem',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Ng╞░ß╗¥i d├╣ng hß╗ç thß╗æng';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','$2y$10$xNwpeGTu1mo7fNSGGPXRn.j3NIAwyU4A86T8BDrzGFJmXwWW55IzS','admin','2025-12-17 05:00:27'),(2,'it_kh','$2y$10$xNwpeGTu1mo7fNSGGPXRn.j3NIAwyU4A86T8BDrzGFJmXwWW55IzS','it','2025-12-17 05:00:27'),(3,'xem_thietbi','$2y$10$xNwpeGTu1mo7fNSGGPXRn.j3NIAwyU4A86T8BDrzGFJmXwWW55IzS','xem','2025-12-17 05:00:27');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-20 15:33:51
