# Disable directory browsing
Options -Indexes

RewriteEngine On

# Không xử lý nếu là file thực tế hoặc thư mục thực tế trong thư mục gốc
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Chuyển hướng các yêu cầu khác vào public/
RewriteRule ^$ public/index.php [L]
RewriteRule ^(.*)$ public/$1 [L]